.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 2rem;
  width: 2rem;
  padding: 0.5rems;
  border-radius: 0.5rem;
  /* background-color: #9a86f3; */
  border: none;
  cursor: pointer;
  svg {
    font-size: 1.3rem;
    color: #ebe7ff;
  }
  /* color: white; */
}
